
<%= link_to("Home", {controller: 'main', action: 'index'}) %>

<%= link_to("Edit Book", edit_book_path(@book)) %>
<%= link_to("Delete Book", delete_book_path(@book)) %>

<h1>Book Info:</h1>
<p> Title:  <%= @book.title %></p>
